* {margin: 0; padding: 0; box-sizing: border-box;}

:root {
      --gold: #c9a84c;    /* Accent color for highlights */
      --dark: #080602;    /* Main background color */
      --panel: #100d07;   /* Background for panels like popups */
      --border: #3a2e1a;  /* Color for borders */
      --text: #d4c5a0;    /* Main text color */
      --dim: #6a5a40;     /* Dimmed text color for subtitles */
      --red: #8b2020;     /* Red color for accents like close button hover */
}
body {
    background-color: var(--dark);
    color: var(--text);
    font-size: 16px;
    line-height: 1.6;
}
nav {
    position: fixed;
    top: 0; left: 0;
    z-index: 100; 
    text-align: center; 
    background-color: rgba(5,4,2,0.95);
    width: 100%;
    padding: 15px; 
    border-bottom: 1px solid var(--border);
}
nav a {
    color: var(--dim);
    font-family: 'Cinzel Decorative', serif;
    text-decoration: none;
    letter-spacing: 3px;
    margin: 0 25px;
    transition: color 0.3s;
}
nav a:hover {
    color: var(--gold);
}
section {
    min-height: 100vh;  
    padding: 100px 20px 50px; 
    scroll-margin-top: 60px; 
}
.container {
    max-width: 800px;        
    margin: 0 auto;        
}
.main-title {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    color: var(--gold);
    animation: glow-pulse 3s infinite;
    letter-spacing: 2px;
    font-size: 40px;
}
@keyframes glow-pulse {
    0% { text-shadow: 0 0 30px rgb(150, 130, 1);}
    50% { text-shadow: 0 0 40px rgb(207, 180, 0);}
    100% { text-shadow: 0 0 30px rgb(139, 121, 1);}

}
.dim-text {
    color: var(--dim);
    font-style: italic;
    text-align: center;
}
.divider {
    text-align: center;
    color: var(--gold);
    letter-spacing: 5px;
    margin: 5px 0 8px 0;
}
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(ellipse at center, rgb(31, 20, 9) 0%, var(--dark) 70%);
}
#about {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
}
.lore-box {
    font-style: italic;
    padding: 10px;
    background-color: var(--panel);
    border-left: 1px solid var(--gold);
    margin: 15px 0 15px 0;
}
.subtitle {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    color: var(--gold);
    margin-bottom: 20px;
    text-shadow: 0 0 5px var(--dim);
}
p {
    margin-bottom: 15px;
}
